/* *{
    box-sizing: border-box;
} */

.book-gallery{
    /* height:100%;
    width:100%; */

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.book-container {
    text-align: center;
    background-color: #fff;
    /* padding: 20px; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-height: 29rem;
    width: 16rem;
    margin:1rem;
    position: relative;
}

#book-cover {
    min-width: 200px;
    min-height: 180px;
    max-width: 200px;
    /* margin: 10px auto; */
}

#form-cont{
    display: inline;
}

#book-title,
#book-price {
    font-size: 1.5em;
    margin: 10px 0;
}



#book-author {
    color: #888;
}

#book-summary {
    margin: 20px 0;
}

#read-button,
#product-detials {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    margin : 0.2rem;
    /* position: fixed;
    bottom:1rem;
    left:1.5rem; */
}

#read-button:hover,
#product-detials:hover {
    background-color: #0056b3;
}