<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phone shop</title>
    <link rel="stylesheet" href="/style/main.css">

    <style>
       
    </style>
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item"><a class="active" href="/">Shop</a></li>
                <li class="main-header__item"><a href="/admin/add-phone">Add phone</a></li>
            </ul>
        </nav>
    </header>

    <main>
        Hello form Node.js and express.js 
        You are in the world of phones.
    </main>
</body>
</html>