extend ../layout/shop-layout.pug

block style 
    link(rel="stylesheet", href="/style/shop.css")

block content 
    div.book-gallery
            if prod.length > 0
                each products in prod
                    div.book-container
                        img#book-cover( src= products.imageUrl, alt="Book Cover")
                        h1#book-title #{products.title}
                        p#book-author By:- Kumar Shashwat
                        p#book-summary #{products.description}
                        button#read-button Read Now
            else 
                h1 No Products.