extend ../layout/admin-layout.pug

block style 
    link(rel="stylesheet", href="/style/add-product.css")

block content 
     main
            form.product-form( action="/admin/add-product" method="POST")
                div.form-control
                    label( for="title") Enter Title
                    input#title(type="text" name="title" )

                div.form-control
                    label( for="price") Price 
                    input#price(type="text" name="price" )

                div.form-control
                    label( for="imageUrl") Image URL
                    input#imageUrl(type="text" name="imageUrl" )

                div.form-control
                    label( for="author") Author
                    input#author(type="text" name="author" )

                div.form-control
                    label( for="description") Description
                    textarea#description(type="text" name="description" rows="5")

                

                button(type="submit") Add Product