extend ../layout/admin-layout.pug

block style 
    link(rel="stylesheet", href="/style/shop.css")

block content 
    div.book-gallery
            if prod.length > 0
                each product in prod
                    div.book-container
                        h1#book-title 
                            u #{product.title}
                        img#book-cover( src= product.imageUrl, alt="Book Cover")
                        h1#book-price 
                            em ₹ #{product.price}
                        p#book-author By:- #{product.author}
                        p#book-summary #{product.description}
                        
                        div#book-action-buttons
                            a(href = "/admin/edit-product/"+ product.id + "?edit=true" )
                                button#product-detials Edit
                            form#form-cont(action= '/admin/delete/' + product.id , method = 'post' )
                                button#read-button(type = "submit") Delete Product
                                input(type="hidden", name = 'prodId', value = product.id)
                        
            else 
                h1 No Products. 
